@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root {
    --Soft-violet: hsl(273, 75%, 66%);
    --Soft-blue: hsl(240, 73%, 65%);
    --Very-dark-grayish-blue: hsl(237, 12%, 33%);
    --Dark-grayish-blue: hsl(240, 6%, 50%);
    --Light-grayish-blue: hsl(240, 5%, 91%);

}

body {
    font-family: 'Kumbh Sans', sans-serif;
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, var(--Soft-blue), var(--Soft-violet));
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
}

button {
    background-color: transparent;
    border: none;
    font-family: 'Kumbh Sans', sans-serif;
    cursor: pointer;
    color: var(--Very-dark-grayish-blue);
    font-size: 16px;
    transition: all 0.3s ease;
    text-align: left;
}

button.active {
    color: hsl(240, 6%, 20%);
    font-weight: 700;
}

.question {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-bottom:10px;
    border-bottom: 1px solid var(--Light-grayish-blue);
    
}

.question-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.question-button img {
    width: 12px;
}

.card {
    width: 65%;
    height: 70vh;
    display: flex;
    gap: 20px;
    background-color: white;
    border-radius: 12px;
    padding: 50px 0;
    padding-right: 70px;
    margin: 0 auto;


}

.card-img{
    width: 80%;
    min-width: 400px;
}

.img-bg {
    background-image: url('/images/bg-pattern-desktop.svg');
    position: absolute;
    
}

.img-main {
    background-image: url('/images/illustration-woman-online-desktop.svg');
    height: 100%;
    object-fit: cover;
    background-position: -80px 0;
    width: 100%;
    background-size: 472px 359px;

}

.img-box {
    background-image: url('/images/illustration-box-desktop.svg');
    height: 150px;
    position: absolute;
    top: calc(100vh - 450px);
    left: 9%;
    z-index: 2;
    width: 200px;
    
}

.img-bg,.img-main, .img-box {
    background-repeat: no-repeat;
}

.card-content {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card-content h2 {
    color: var(--Very-dark-grayish-blue);
}

.answer p{
    font-size: 12px;
    color: var(--Dark-grayish-blue);
}

.answer {
    display: none;

}

.answer.open{
    display: block;
}

@media (max-width:576px){
    .card {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        width: 90%;
        height: auto;
    }

    .img-box {
        display: none;
    }

    .img-bg{
        background-image: url('/images/bg-pattern-mobile.svg');
        width: 300px;
        height: 100px;
        background-position: center;
    }

    .img-main {
        background-image: url('/images/illustration-woman-online-mobile.svg');
        height: 380px;
        object-fit: cover;
        background-position: center;
        width: 570px;
        margin: 0 auto;
        left: calc(-25vw);
        position: absolute;
        top: calc(-4vh);
        transform: scale(0.5);
    
    }
    .card-img{
        width: 100%;
        min-width: 200px;
        height: 30vh;
        
    }

    .card-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 15px;
    }

    .card-content h2 {
        text-align: center;
    }
}